
@media(max-width:450px){
  .tooth-h2-375{
  font-size: 24px;
}
}





@media(max-width:420px){
  .tooth-h2-375{
  font-size: 23px;
}
}




@media(max-width:390px){
  .tooth-h2-375{
  font-size: 22px;
}
}


@media(max-width:360px){
  .tooth-h2-375{
  font-size: 21px;
}
}


@media(max-width:340px){
  .tooth-h2-375{
  font-size: 20px;
}
}







.title-tabenai-ue{
 font-size: 30px;
    color:deeppink;
}


.title-tabenai-sita{
    font-size: 30px;

}



@media(max-width:500px){
   
    .title-tabenai-ue{
 font-size: 26px;

}


.title-tabenai-sita{
    font-size: 26px;
}
    
}






@media(max-width:440px){
   
    .title-tabenai-ue{
 font-size: 24px;
}


.title-tabenai-sita{
    font-size: 24px;
}
    
}




@media(max-width:420px){
   
    .title-tabenai-ue{
 font-size: 23px;
}


.title-tabenai-sita{
    font-size: 23px;
}
    
}


@media(max-width:380px){
   
    .title-tabenai-ue{
 font-size: 22.5px;
}


.title-tabenai-sita{
    font-size: 22.5px;
}
    
}




@media(max-width:350px){
   
    .title-tabenai-ue{
 font-size: 21.5px;
}


.title-tabenai-sita{
    font-size: 21.5px;
}
    
}



@media(max-width:330px){
   
    .title-tabenai-ue{
 font-size: 20px;
}


.title-tabenai-sita{
    font-size: 20px;
}
    
}



















.title-tooth-ue{
  font-size: 26px;
} 


.title-tooth-sita{
  font-size: 24px
}


.title-simi2-takasa{
  height:10px;
}

.title-simi2-takasa2{
  height:3px;
}



@media(max-width:420px){
  

.title-tooth-ue{
  font-size: 23px;
} 


.title-tooth-sita{
  font-size: 23px
}


.title-simi2-takasa{
  height:7px;
}

}







@media(max-width:392px){
  

.title-tooth-ue{
  font-size: 22.5px;
} 


.title-tooth-sita{
  font-size: 21px;
}


.title-simi2-takasa{
  height:5px;
}

}




@media(max-width:377px){
  

.title-tooth-ue{
  font-size: 22px;
} 


.title-tooth-sita{
  font-size: 20px;
}


.title-simi2-takasa{
  height:5px;
}

}





@media(max-width:370px){
  




.title-tooth-sita{
  font-size: 19px;
}


.title-simi2-takasa{
  height:4px;
}

}




@media(max-width:353px){
  

.title-tooth-ue{
  font-size: 20px;
} 


.title-tooth-sita{
  font-size: 18.5px;
}


.title-simi2-takasa{
  height:5px;
}

}



@media(max-width:338px){
  

.title-tooth-ue{
  font-size: 19px;
} 


.title-tooth-sita{
  font-size: 18px;
}


.title-simi2-takasa{
  height:5px;
}

}














.title-tooth-ue{
  font-size: 26px;
} 


.title-tooth-sita{
  font-size: 24px
}


.title-simi2-takasa{
  height:10px;
}

.title-simi2-takasa2{
  height:3px;
}



@media(max-width:420px){
  

.title-tooth-ue{
  font-size: 23px;
} 


.title-tooth-sita{
  font-size: 23px
}


.title-simi2-takasa{
  height:7px;
}

}







@media(max-width:392px){
  

.title-tooth-ue{
  font-size: 22.5px;
} 


.title-tooth-sita{
  font-size: 21px;
}


.title-simi2-takasa{
  height:5px;
}

}




@media(max-width:377px){
  

.title-tooth-ue{
  font-size: 22px;
} 


.title-tooth-sita{
  font-size: 20px;
}


.title-simi2-takasa{
  height:5px;
}

}





@media(max-width:370px){
  




.title-tooth-sita{
  font-size: 19px;
}


.title-simi2-takasa{
  height:4px;
}

}




@media(max-width:353px){
  

.title-tooth-ue{
  font-size: 20px;
} 


.title-tooth-sita{
  font-size: 18.5px;
}


.title-simi2-takasa{
  height:5px;
}

}



@media(max-width:338px){
  

.title-tooth-ue{
  font-size: 19px;
} 


.title-tooth-sita{
  font-size: 18px;
}


.title-simi2-takasa{
  height:5px;
}

}












